* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Verdana;
    color: #FFEBC6; 
}

.banner {
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0)), url(/images/IMG_6687.jpg);
    height: 100vh;
    background-size: cover;
    background-position: 54%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;  
    padding: 90px;    
}

.banner h1 {
    font-size: 64px;
    font-family: Helvetica;
    letter-spacing: 4px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2); 
}

.banner h2 {
    font-size: 32px;
}

.banner h3 {
    font-size: 16px;
    padding-top: 20px;
}

.links {
    display: flex;
    width: 300px;
    padding-top: 20px;
    justify-content: space-between;
}

.links a {
    color: #FFEAC2;
    opacity: 1;
    font-size: 20px;
    border: #CC8500 1px solid;
    border-radius: 3px;
    padding: 4px 10px;
    background: #CC8500;
}

.links a:hover {
    color: #CC8500;
    background: #FFEAC2;
    text-shadow: 0 0 3px #000;
}

/* Extra small devices  */
@media(max-width: 600px) {
    .banner h1, h2, h3 {
        font-size: 16px;
    }
    .banner {
        padding-top: 350px;
        justify-content: center;
        align-items: center;
    }
}